<% if @picture.votes.exists?(user_id: current_user.id) %>
	<div class='vote'>
		<button type="button" class="btn btn-default btn-lg" disabled>
			<span class="glyphicon glyphicon-chevron-up"></span>
			<%= link_to("Upvote", '#' , method: 'post') %>
		</button>
		<button type="button" class="btn btn-default btn-lg" disabled>
			<span class="glyphicon glyphicon-chevron-down"></span>
			<%= link_to("Downvote", '#' , method: 'post') %>
		</button>
			<%= @score %>
	</div>
<% else %>
	<div class='vote'>
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-chevron-up"></span>
				<%= link_to("Upvote", upvote_picture_url , method: 'post') %>
			</button>
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-chevron-down"></span>
				<%= link_to("Downvote", downvote_picture_url , method: 'post') %>
			</button>
				<%= @score %>
	</div>
<% end %>


